GIT_BASE="https://github.com"
REPO_URL="https://github.com/alpha-hack-program/yolo-uno-cards.git"
TARGET_REVISION="fb-mount"
DATA_SCIENCE_PROJECT_NAMESPACE="yolo-uno-cards"
INSTANCE_NAME="yolo-uno-cards"
CRUNCHY_POSTGRES_CSV="postgresoperator.v5.7.0"

MINIO_ACCESS_KEY="XXXXXXXX"
MINIO_SECRET_KEY="XXXXXXXX"